<div class="container mt-4">
  <h1 class="mb-4">Lista Wyborów</h1>
  <div class="row">
    <% @wybories.each do |wybory| %>
      <div class="col-md-6 col-lg-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= wybory.tytul %></h5>
            <p class="card-text"><%= wybory.data_rozpoczecia %></p>
            <a href="<%= wybory_path(wybory) %>" class="btn btn-primary">weź udział</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
