<h1>Lista wyborów</h1>

<% if @wybories.any? %>
  <% @wybories.each do |wybory| %>
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title"><%= wybory.tytul %></h5>
        <p class="card-text">Data rozpoczęcia: <%= wybory.data_rozpoczecia %></p>
        <p class="card-text">Data zakończenia: <%= wybory.data_zakonczenia %></p>
        <%= link_to 'Zobacz szczegóły', wybory_path(wybory), class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>Brak aktywnych wyborów.</p>
<% end %>
