<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Witaj, <%= @wyborca.imie %>!</h1>
    <p>Dziękujemy za zarejestrowanie się w naszej platformie. Twoje konto zostało pomyślnie założone.</p>
    <p>Pozdrawiamy,<br>Zespół Wybory Online</p>
  </body>
</html>
