<!-- app/views/partie/index.html.erb -->
<h1>Lista Partii</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nazwa</th>
     
    </tr>
  </thead>
  <tbody>
    <% @partias.each do |partia| %>
      <tr>
        <td><%= partia.id %></td>
        <td><%= partia.nazwa %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Dodaj nową partię', new_partia_path %>
