<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Najprostszy program do głosowania online</h1>
    <p class="lead">Oprogramowanie do przeprowadzania głosowań zdalnych. Szybko i bezpiecznie zbieraj głosy i analizuj wyniki w czasie rzeczywistym.</p>
    <div class="header-buttons">
      <%= link_to 'Załóż darmowe konto', new_wyborca_path, class: 'btn btn-outline-dark btn-lg' %>
      <%= link_to 'Zaloguj się', login_path, class: 'btn btn-outline-dark btn-lg' %>
    </div>
  </div>
</div>

<div class="container section">
  <div class="row">
    <div class="col-md-4">
      <h2>O nas</h2>
      <p>Wybory Online to platforma, która pozwala na bezpieczne i łatwe głosowanie z dowolnego miejsca. Nasza misja to ułatwienie procesu wyborczego i zapewnienie jego przejrzystości.</p>
      <a class="btn btn-primary" href="#">Czytaj więcej »</a>
    </div>
    <div class="col-md-4">
      <h2>Kandydaci</h2>
      <p>Poznaj kandydatów startujących w wyborach. Sprawdź ich programy, doświadczenie i zobacz, co mają do zaoferowania.</p>
      <a class="btn btn-primary" href="#">Zobacz kandydatów »</a>
    </div>
    <div class="col-md-4">
      <h2>Głosowanie</h2>
      <p>Zarejestruj się i oddaj swój głos. Twoje zdanie ma znaczenie, a my zapewniamy pełne bezpieczeństwo Twoich danych.</p>
      <a class="btn btn-primary" href="#">Głosuj teraz »</a>
    </div>
  </div>
</div>

<div class="container section">
  <h2 class="section-title">Mapa lokalizacji wyborów stacjonarnych</h2>
  <div id="map" style="height: 500px; width: 100%;"></div>
</div>

<div class="container section">
  <h2 class="section-title">Dlaczego warto wybrać naszą platformę?</h2>
  <div class="row">
    <div class="col-md-4">
      <h3>Bezpieczeństwo</h3>
      <p>Twoje dane są u nas bezpieczne. Korzystamy z najnowocześniejszych technologii, aby zapewnić pełne bezpieczeństwo procesu wyborczego.</p>
    </div>
    <div class="col-md-4">
      <h3>Przejrzystość</h3>
      <p>Wyniki wyborów są dostępne w czasie rzeczywistym. Zapewniamy pełną przejrzystość i uczciwość całego procesu.</p>
    </div>
    <div class="col-md-4">
      <h3>Łatwość użycia</h3>
      <p>Nasza platforma jest intuicyjna i łatwa w obsłudze. Głosowanie online nigdy nie było prostsze.</p>
    </div>
  </div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&callback=initMap" async defer></script>
<script>
  function initMap() {
    console.log("InitMap is called");
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 6,
      center: { lat: 52.237049, lng: 21.017532 }  // Centrum Polski
    });

    var locations = [
      { lat: 52.229675, lng: 21.012230, title: 'Warszawa' },
      { lat: 50.064651, lng: 19.944981, title: 'Kraków' },
      { lat: 51.107883, lng: 17.038538, title: 'Wrocław' }
    ];

    locations.forEach(function(location) {
      var marker = new google.maps.Marker({
        position: { lat: location.lat, lng: location.lng },
        map: map,
        title: location.title
      });
    });
  }
</script>
