<main>
    <section id="hero" class="hero">
        <div class="container">
            <h1>Witaj na stronie głównej aplikacji do wyborów!</h1>
            <p>Tutaj możesz dowiedzieć się więcej o najbliższych wyborach oraz procedurze głosowania.</p>
            <a href="#" class="btn">Zobacz więcej</a>
        </div>
    </section>
</main>